page-basket {
    .quantity{
        
        font-size: 30px;
        text-align: right;
       
    }
    .price{
        
        font-size: 30px;
        
       
    }
    .total{
        
        font-size: 22px;
        padding-left: 10px
       
    }
    .product{
        
        font-size: 16px;
       
    }
    .ico{
        font-size: 30px;
    }
}
