page-login {
    .image{
        align-content: center;
        width: 100%;
        float: none;
        clear: left;
        clear: right;
    }
    .form{
        background-color: #f7e0d2;
        border-color: black;
        border-style: solid;
        margin-top: 20px;
    }
}
