page-home {
    .image{
        align-content: center;
        width: 100%;
        float: none;
        clear: left;
        clear: right;
    }
    div.buttons{
        text-align: center;
    }
    .buttonQRReader {
        font-size: 40px;
    }
   
    .buttonLogin {
        margin-top: 60px;
        margin-bottom: 70px;
    }
 div.manual{
    position: absolute; top: 0px; right: 0px;
 }
    
	}
    
    