page-menu-client {
    .price{
        
        font-size: 26px;
        
       
    }
    .product{
        
        font-size: 16px;
       
    }
    .ico{
        font-size: 30px;
    }
    .allergens{
        height: 30px;
        width: 30px;
        display: inline-block;
    }
}
